/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.center{
    width: 40%;
    margin: 10px auto;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
//border-radius: 10px;
    background: #ffffff;
    border-top: 3px solid #673ab7;
    border-right: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    box-shadow: 0 3px 3px #E9E9E9;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    line-height: 1
}
.box-header .box-title {
    display: block;
    font-size: 16px;
    margin: 0;
    line-height: 1
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    margin-right: 5px
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 30px;
    background-color: #ffffff;
}